body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(131, 65, 11);
}

.titulo {  
    background-color: rgb(187, 133, 62);
    text-align: center;
}

.titulo li {
    text-align: left;
    list-style: none;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px;
}

.titulo ul {
    padding: 0;
}

#tt {
    font-size: 2.5rem;
    color: black;
}

.historia h3, h4, p {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

.historia h4 {
    color: rgb(255, 166, 0);
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: black;
}

#ss {
    padding-left: 20%;
}

.itens h3 {
    padding-right: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(255, 166, 0);
}


.itens img {
    padding-right: 40px;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 10px 0;
}

#ll {
    padding-inline-start: 0;
    
}






@media (min-width: 768px) {
    #tt {
        font-size: 3rem;
    }



    .itens h3 {
        font-size: 2.5rem;
    }

    #barto {
        font-size: 1.2rem;
    }
}

.description {
    background-color: rgba(70, 37, 6, 0.8);
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    text-align: left;
}

